/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
	font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

body {
    background: #f1f1f1;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
	font-family: 'Roboto', sans-serif;
}


/* Portrait layout (default) */


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /*.app {
        background-position:left center;
        padding:0;  padding-top + padding-bottom + text area = image height 
        margin: 0;  offset vertical: half of image height 
                                       offset horizontal: half of image width and text area width 
    }*/
}

h1 {
    font-size:24px;
    font-weight: bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

html,
body {
  width: 100%;
  height: 100%;
}



/******MENU******/

html,
body {
  width: 100%;
  height: 100%;
}

body {
	background: #eee;
	color: #444;
	padding: 0;
  	box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.body {
  z-index: 1;
  position: relative;
  background: #FFF;
  max-width: 450px;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  
}



.app {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	height: 100%;
	background: #fff; /* 170px x 200px */
    height:100vh;                   /* text area height */
    max-width: 450px;
    width:100%;                   /* text area width */
    margin: auto;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.app-inicio {
	background: #7fc3fc; /* Old browsers */
	background: -moz-linear-gradient(top, #7FB6EF 0%, #7FB6EF 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #7FB6EF 0%,#7FB6EF 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #7FB6EF 0%,#7FB6EF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7FB6EF', endColorstr='#7FB6EF',GradientType=0 ); /* IE6-9 */
}

.app-header {
    /*position: fixed;*/
    /*z-index: 999;*/
	margin: 20px 0; 
    width: 100%;
    bottom: 0px;
	max-width: 450px;
	width: 100%;
}

.content-app{padding: 0 20px;}

.app-nav {
  display: inline-block;
}
.app-nav__icon {
  position: relative;
  display: block;
  width: 14px;
  height: 10px;
  cursor: pointer;
}
.app-nav__icon:before, .app-nav__icon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #222;
  width: 100%;
  height: 1px;
  -webkit-transition: 0.3s cubic-bezier(0.28, 0.55, 0.36, 1.18);
  transition: 0.3s cubic-bezier(0.28, 0.55, 0.36, 1.18);
}
.app-nav__icon:after {
  top: auto;
  bottom: 0;
}
.app-nav ul {
  display: none;
}

.app-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width:350px;
  margin:auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.app-tabs__tab {
  margin: 0 15px;
  text-align:center;
  color: #BC406F;
  background: white;
  padding: 1px 10px;
  border-radius: 4px;
  font-size: 29px;
  font-weight: 500;
  letter-spacing: 1.2px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}


.app-tabs__tab--one {
  color: #007dbe;
  box-shadow: inset 0 -2px 0 0 #007dbe;
}
.app-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.app-panel {
  position: absolute;
  top: 0;
  left: calc(100% - 0px);;
  width: 100%;
  height: calc(100% - 0px);
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: 0.6s cubic-bezier(0.28, 0.55, 0.36, 1.18);
  transition: 0.6s cubic-bezier(0.28, 0.55, 0.36, 1.18);
}
.app-panel--one {
  left: 0px;
  overflow-y: auto;
}

.app-panel--two {
  overflow-y: auto;
}

.app-panel--three {
  overflow-y: auto;
}

.app-panel--four {
  overflow-y: auto;
}	

.app-panel__column {
  padding: 0 15px;
  color: #222;
}
.app-panel__column:first-child {
  width: 100%;
  font-weight: 500;
}
.app-panel__column li {
  padding: 10px 0;
}

#app-event-1, #app-event-2, #app-event-3, #app-event-4, #app-event-5, #app-event-6, #app-event-7 {
  display: none;
}

#app-event-2:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--one {
  color: #BC406F;
  box-shadow: none;
}
#app-event-2:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--two {
  color: #fff;
  background: #BC406F;
}
#app-event-2:checked ~ .body .app .app-body .app-panel--one {
  left: calc(-100% + 0px);
}
#app-event-2:checked ~ .body .app .app-body .app-panel--two {
  left: 0px;
}	

#app-event-3:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--one {
  color: #999;
  box-shadow: none;
}
#app-event-3:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--two {
  color: #BC406F;
  box-shadow: none;
}
#app-event-3:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--three {
  color: #fff;
  background: #BC406F;
}
#app-event-3:checked ~ .body .app .app-body .app-panel--one {
  left: calc(-100% + 0px);
}
#app-event-3:checked ~ .body .app .app-body .app-panel--two {
  left: calc(-100% + 0px);
}
#app-event-3:checked ~ .body .app .app-body .app-panel--three {
  left: 0px;
}



#app-event-4:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--one {
  color: #BC406F;
  box-shadow: none;
}
#app-event-4:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--two {
  color: #BC406F;
  box-shadow: none;
}
#app-event-4:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--three {
  color: #BC406F;
  box-shadow: none;
}
#app-event-4:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--four {
  color: #fff;
  background: #BC406F;
}
#app-event-4:checked ~ .body .app .app-body .app-panel--one {
  left: calc(-100% + 0px);
}
#app-event-4:checked ~ .body .app .app-body .app-panel--two {
  left: calc(-100% + 0px);
}
#app-event-4:checked ~ .body .app .app-body .app-panel--three {
  left: calc(-100% + 0px);
}
#app-event-4:checked ~ .body .app .app-body .app-panel--four {
  left: 0px;
}


#app-event-5:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--one {
  color: #BC406F;
  box-shadow: none;
}
#app-event-5:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--two {
  color: #BC406F;
  box-shadow: none;
}
#app-event-5:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--three {
  color: #BC406F;
  box-shadow: none;
}
#app-event-5:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--four {
  color: #fff;
  background: #BC406F;
}
#app-event-5:checked ~ .body .app .app-body .app-panel--one {
  left: calc(-100% + 0px);
}
#app-event-5:checked ~ .body .app .app-body .app-panel--two {
  left: calc(-100% + 0px);
}
#app-event-5:checked ~ .body .app .app-body .app-panel--three {
  left: calc(-100% + 0px);
}
#app-event-5:checked ~ .body .app .app-body .app-panel--four{
  left: calc(-100% + 0px);
}
#app-event-5:checked ~ .body .app .app-body .app-panel--five {
  left: 0px;
}


#app-event-6:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--one {
  color: #BC406F;
  box-shadow: none;
}
#app-event-6:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--two {
  color: #BC406F;
  box-shadow: none;
}
#app-event-6:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--three {
  color: #BC406F;
  box-shadow: none;
}
#app-event-6:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--four {
  color: #fff;
  background: #BC406F;
}
#app-event-6:checked ~ .body .app .app-body .app-panel--one {
  left: calc(-100% + 0px);
}
#app-event-6:checked ~ .body .app .app-body .app-panel--two {
  left: calc(-100% + 0px);
}
#app-event-6:checked ~ .body .app .app-body .app-panel--three {
  left: calc(-100% + 0px);
}
#app-event-6:checked ~ .body .app .app-body .app-panel--four{
  left: calc(-100% + 0px);
}
#app-event-6:checked ~ .body .app .app-body .app-panel--five {
  left: calc(-100% + 0px);
}
#app-event-6:checked ~ .body .app .app-body .app-panel--six {
  left: 0px;
}



#app-event-7:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--one {
  color: #BC406F;
  box-shadow: none;
}
#app-event-7:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--two {
  color: #BC406F;
  box-shadow: none;
}
#app-event-7:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--three {
  color: #BC406F;
  box-shadow: none;
}
#app-event-7:checked ~ .body .app .app-header .app-tabs .app-tabs__tab--four {
  color: #fff;
  background: #BC406F;
}
#app-event-7:checked ~ .body .app .app-body .app-panel--one {
  left: calc(-100% + 0px);
}
#app-event-7:checked ~ .body .app .app-body .app-panel--two {
  left: calc(-100% + 0px);
}
#app-event-76:checked ~ .body .app .app-body .app-panel--three {
  left: calc(-100% + 0px);
}
#app-event-7:checked ~ .body .app .app-body .app-panel--four{
  left: calc(-100% + 0px);
}
#app-event-7:checked ~ .body .app .app-body .app-panel--five {
  left: calc(-100% + 0px);
}
#app-event-7:checked ~ .body .app .app-body .app-panel--six {
  left: calc(-100% + 0px);
}
#app-event-7:checked ~ .body .app .app-body .app-panel--seven {
  left: 0px;
}




/********FIM MENU*********/

.cor-btn{
	color: #ffffff;
	background: #C44681; 
	border-radius: 4px;
	box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.2);
	border-bottom: 4px solid #683353;
	font-weight: 600;
}

.h-list{
	list-style-type: none;
    margin: 0;
    padding: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

.h-list li {
    display:inline;
	background: #ddb02e;
	color: white;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 600;
	margin-right: 10px;
	border-radius: 4px;
}


.btn-comecar{padding: 8px 60px; font-size: 24px; max-width: 160px; text-align: center;}

.btn-proximo{padding: 8px 60px; font-size: 24px; max-width: 160px; text-align: center;}

.btn-comecar:active{padding: 6px 50px;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #777777;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #777777;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #777777;
}
:-moz-placeholder { /* Firefox 18- */
	color: #777777;
}

.cadastro input{border: none; padding: 15px 10px; border-radius: 4px; width:100%;font-size: 16px;}

.cadastro button{
	padding: 8px;
    font-size: 30px;
    max-width: 252px;
    width: 100%;	
}

.input-grupo{
	background-color: #fff;
	border-radius: 4px;
	color: #EDC635;
	max-width: 250px;
	border: solid 1px #f1f1f1;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.input-grupo span{margin-left: 10px;}

.top-crianca{
	background-color: #67A7D2;
	max-width: 450px;	
	color: #fff;
	padding: 10px 15px 15px 20px;
}

.top-crianca h2{margin: 0; font-size: 22px; margin-bottom: 4px;}

.top-crianca p{margin:0; font-size: 16px; vertical-align: middle;}

.top-crianca p img{vertical-align: bottom;}

.visor-cofre{
	background-color: white;
	max-width: 170px;
	padding: 7px 0 9px 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin-top: 40px;
}

.visor-cofre span{
	font-weight: bold;
}

.bg-mato{background: url(../img/bg2.png); background-size: cover; background-position: center;}

.box{background: white; max-width: 300px; width: 100%; margin: auto; padding: 1px 10px; border-radius:4px; box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.06);}

/*///////////////////////////////////////////////////////
    // Progress Bars \\ 
///////////////////////////////////////////////////////*/

.progressBar {

}

.progressBarContainer {
  width: 100%;
  max-width: 350px;
  margin: auto;
  height: 26px;
  height: 1.66em;
  background: #FFF;
  overflow: hidden;
  border-radius: 5px;
  padding: 4px;
}

.progressBarValue {
	border-radius: 4px;
  height: 1.66em;
  float: left;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c44681+1,41b7f8+100 */
background: #c44681; /* Old browsers */
background: -moz-linear-gradient(left,  #c44681 1%, #41b7f8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #c44681 1%,#41b7f8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #c44681 1%,#41b7f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44681', endColorstr='#41b7f8',GradientType=1 ); /* IE6-9 */

}

.value-00 { width: 0; }

.value-10 { width: 10%; }

.value-20 { width: 20%; }

.value-30 { width: 30%; }

.value-40 { width: 40%; }

.value-50 { width: 50%; }

.value-60 { width: 60%; }

.value-70 { width: 70%; }

.value-80 { width: 80%; }

.value-90 { width: 90%; }

.value-100 { width: 100%; }

/***** /Progress Bars *****/


/*///////////////////////////////////////////////////////
    // Progress Bars responsavel\\ 
///////////////////////////////////////////////////////*/

.progress-responsavel{

}

.progress-responsavel-container {
  margin: 0 10px 0 10px;
  height: 26px;
  height: 1.66em;
  background: #67a7d2;
  overflow: hidden;
  border-radius: 5px;
  padding: 4px;
}

.progress-responsavel-value {
	border-radius: 4px;
  height: 1.66em;
  float: left;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c44681+1,41b7f8+100 */
background: #c34680; /* Old browsers */

}
/***** /Progress Bars responsavel*****/



.meta-pai{width: 100%; max-width: 350px; margin: auto;}

.meta-pai p{font-size: 20px; margin:0;}

.meta-pai p img{vertical-align: bottom; margin-right: 5px;}

.cadastrar-meta{
	 font-size: 18px;
	 color: #484848;
	 margin: 10px 0px 10px 0; 
	 max-width: 350px;
	 width: 100%; 
	 background: #fff; 
	 padding: 10px 0; 
	 border-radius: 4px;
	 border-bottom: 4px #d8d8d8 solid;	
}

.cadastrar-meta span{font-size: 16px;}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color: none;
    border-color: none;
    color: none;
    text-shadow: none;
}







.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






.meta-alcancada .barra-alcancada{
    color: #4c4c4c;
    padding: 1px;
    margin-bottom: 30px;
    box-sizing: border-box;
	width: 100%;
    height: 25px;
}

.meta-alcancada .barra-alcancada {
    width: 100%;
    height: 25px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.4);
    box-shadow: inset 0 0 1px rgba(0,0,0,.4);
    position: relative;
}

.meta-alcancada .count-bar{
	height: 23px;
    position: relative;}

.meta-alcancada .count-bar.color-1{
	background: #c44681; /* Old browsers */
background: -moz-linear-gradient(left,  #c44681 1%, #41b7f8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #c44681 1%,#41b7f8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #c44681 1%,#41b7f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44681', endColorstr='#41b7f8',GradientType=1 ); /* IE6-9 */
border-radius: 100px;
}

.meta-alcancada .count1{
	position: absolute;
    line-height: 25px;
    width: 75%;
    top: -30px;
    right: 0;
}

.meta-alcancada .count2{
	position: absolute;
    line-height: 25px;
    width: 40%;
    top: -30px;
    right: 0;
}

.meta-alcancada .count3{
	position: absolute;
    line-height: 25px;
    width: 10%;
    top: -30px;
    right: 0;
}

.hide{
  display: none;
}