/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
	font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

body {
    background: #f1f1f1;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
	font-family: 'Roboto', sans-serif;
}


/* Portrait layout (default) */


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /*.app {
        background-position:left center;
        padding:0;  padding-top + padding-bottom + text area = image height 
        margin: 0;  offset vertical: half of image height 
                                       offset horizontal: half of image width and text area width 
    }*/
}

h1 {
    font-size:24px;
    font-weight: bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

html,
body {
  width: 100%;
  height: 100%;
}



/******MENU******/

html,
body {
  width: 100%;
  height: 100%;
}

body {
	background: #eee;
	color: #444;
	padding: 0;
  	box-sizing: border-box;
  	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.body {
  z-index: 1;
  position: relative;
  background: #FFF;
  max-width: 450px;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  
}






/********FIM MENU*********/

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
    background-color: #C44681;
    border-color: none;
    text-shadow: none;
	color: #fff;
	border-bottom: 4px solid #683353;
}

.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover{
    background-color: #C44681;
    border-color: none;
    text-shadow: none;
	color: #fff;
	border-bottom: 4px solid #683353;
}

.ui-mobile label, div.ui-controlgroup-label .cor-btn{font-size: 22px; font-weight: 700; margin-top: 10px}

.ui-mobile label, .ui-controlgroup-label{display: inline-block;}



.cor-btn{
	color: #ffffff;
	background: #C44681; 
	border-radius: 4px;
	box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.2);
	border-bottom: 4px solid #683353;
	font-weight: 600;
}

.btn-nao{
	color: #ffffff;
	background: #C44681; 
	border-radius: 4px;
	border-bottom: 4px solid #683353;
	font-weight: 600;
    padding: 9px 25px;
    text-align: center;
	margin-left: 20px;
}

.btn-sim{
	color: #ffffff;
	background: #9aba35; 
	border-radius: 4px;
	border-bottom: 4px solid #67752e;
	font-weight: 600;
	padding: 9px 25px;
    text-align: center;
}

.btn-cofre{font-size: 22px; width: 100%; max-width: 300px; padding: 10px;}

.h-list{
	list-style-type: none;
    margin: 0;
    padding: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

.h-list li {
    display:inline;
	background: #ddb02e;
	color: white;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 600;
	margin-right: 10px;
	border-radius: 4px;
}


.btn-comecar{padding: 8px 60px; font-size: 24px; max-width: 160px; text-align: center;}

.btn-proximo{padding: 8px 60px; font-size: 24px; max-width: 160px; text-align: center;}

.btn-comecar:active{padding: 6px 50px;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #777777;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #777777;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #777777;
}
:-moz-placeholder { /* Firefox 18- */
	color: #777777;
}

.cadastro input{border: none; padding: 15px 10px; border-radius: 4px; width:100%;font-size: 16px;}

.cadastro button{
	padding: 8px;
    font-size: 30px;
    max-width: 252px;
    width: 100%;	
}

.input-grupo{
	background-color: #fff;
	border-radius: 4px;
	color: #EDC635;
	max-width: 250px;
	border: solid 1px #f1f1f1;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.input-grupo span{margin-left: 10px;}

.top-crianca{
	background-color: #67A7D2;
	max-width: 450px;	
	color: #fff;
	padding: 10px 15px 15px 20px;
}

.top-crianca h2{margin: 0; font-size: 22px; margin-bottom: 4px;}

.top-crianca p{margin:0; font-size: 16px; vertical-align: middle;}

.top-crianca p img{vertical-align: bottom;}

.visor-cofre{
	background-color: white;
	max-width: 170px;
	padding: 7px 0 9px 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin-top: 40px;
}

.visor-cofre span{
	font-weight: bold;
}

.bg-mato{background: url(../img/bg2.png); background-size: cover; background-position: center;}

.box{background: white; max-width: 300px; width: 100%; margin: auto; padding: 1px 10px; border-radius:4px; box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.06);}

/*///////////////////////////////////////////////////////
    // Progress Bars \\ 
///////////////////////////////////////////////////////*/

.progressBar {

}

.progressBarContainer {
  width: 100%;
  max-width: 350px;
  margin: auto;
  height: 26px;
  height: 1.66em;
  background: #FFF;
  overflow: hidden;
  border-radius: 5px;
  padding: 4px;
}

.progressBarValue {
	border-radius: 4px;
  height: 1.66em;
  float: left;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c44681+1,41b7f8+100 */
background: #c44681; /* Old browsers */
background: -moz-linear-gradient(left,  #c44681 1%, #41b7f8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #c44681 1%,#41b7f8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #c44681 1%,#41b7f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44681', endColorstr='#41b7f8',GradientType=1 ); /* IE6-9 */

}

.value-00 { width: 0; }

.value-10 { width: 10%; }

.value-20 { width: 20%; }

.value-30 { width: 30%; }

.value-40 { width: 40%; }

.value-50 { width: 50%; }

.value-60 { width: 60%; }

.value-70 { width: 70%; }

.value-80 { width: 80%; }

.value-90 { width: 90%; }

.value-100 { width: 100%; }

/***** /Progress Bars *****/


/*///////////////////////////////////////////////////////
    // Progress Bars responsavel\\ 
///////////////////////////////////////////////////////*/

.progress-responsavel{

}

.progress-responsavel-container {
  margin: 0 10px 0 10px;
  height: 26px;
  height: 1.66em;
  background: #67a7d2;
  overflow: hidden;
  border-radius: 5px;
  padding: 4px;
}

.progress-responsavel-value {
	border-radius: 4px;
  height: 1.66em;
  float: left;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c44681+1,41b7f8+100 */
background: #c34680; /* Old browsers */

}
/***** /Progress Bars responsavel*****/



.meta-pai{width: 100%; max-width: 350px; margin: auto;}

.meta-pai p{font-size: 20px; margin:0;}

.meta-pai p img{vertical-align: bottom; margin-right: 5px;}

.cadastrar-meta{
	 font-size: 18px;
	 color: #484848;
	 margin: 10px 0px 10px 0; 
	 max-width: 350px;
	 width: 100%; 
	 background: #fff; 
	 padding: 10px 0; 
	 border-radius: 4px;
	 border-bottom: 4px #d8d8d8 solid;	
}

.cadastrar-meta span{font-size: 16px;}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color: none;
    border-color: none;
    color: none;
    text-shadow: none;
}







.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






.meta-alcancada .barra-alcancada{
    color: #4c4c4c;
    padding: 1px;
    margin-bottom: 30px;
    box-sizing: border-box;
	width: 100%;
    height: 25px;
}

.meta-alcancada .barra-alcancada {
    width: 100%;
    height: 25px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.4);
    box-shadow: inset 0 0 1px rgba(0,0,0,.4);
    position: relative;
}

.meta-alcancada .count-bar{
	height: 23px;
    position: relative;}

.meta-alcancada .count-bar.color-1{
	background: #c44681; /* Old browsers */
background: -moz-linear-gradient(left,  #c44681 1%, #41b7f8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #c44681 1%,#41b7f8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #c44681 1%,#41b7f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c44681', endColorstr='#41b7f8',GradientType=1 ); /* IE6-9 */
border-radius: 100px;
}

.meta-alcancada .count1{
	position: absolute;
    line-height: 25px;
    width: 75%;
    top: -30px;
    right: 0;
}

.meta-alcancada .count2{
	position: absolute;
    line-height: 25px;
    width: 40%;
    top: -30px;
    right: 0;
}

.meta-alcancada .count3{
	position: absolute;
    line-height: 25px;
    width: 10%;
    top: -30px;
    right: 0;
}

.hide{
  display: none;
}


/**		POPUP	***/
.trigger{
	font-size: 2em;
	text-transform: uppercase;
	margin-top: 10%;
	display: block;
}

.popup__textbox{
	color: #999999;
	line-height: 25px;
	font-size: 16px;
	padding: 10px 3px 0 3px;
	overflow: auto;
}

@keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes inner {
    0% {transform: scale(0.8);}
    50% {transform: scale(1.06);}
	100% {transform: scale(1);}
}

@-webkit-keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes inner {
    0% {transform: scale(0.8);}
    50% {transform: scale(1.06);}
	100% {transform: scale(1);}
}

.popup__check{
	display: none;
}

.popup__base, .popup__bg{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	cursor:zoom-out;
}

.popup__base{
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.popup__check:checked + .popup__base{
	display: block;
	animation-name: bg;
    animation-duration: .5s;
	animation-fill-mode:forwards;
	-webkit-animation-name: bg;
    -webkit-animation-duration: .5s;
	-webkit-animation-fill-mode:forwards;
	z-index:9999;
}

.popup__inner{
	/*position: absolute;*/
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 10px;	
	z-index: 10;
	width: 100%;
	max-width: 300px;
	margin: auto;
	margin-top: 190px;
	padding: 10px;
	background-color: #fff;
	display: block;
	cursor:default;
}

.popup__check:checked + .popup__base .popup__inner{
	animation-name: inner;
    animation-duration: .5s;
	animation-fill-mode:forwards;
	-webkit-animation-name: inner;
    -webkit-animation-duration: .5s;
	-webkit-animation-fill-mode:forwards;
}

.popup__calign{
	float: right;
	padding-right: 32px;
	margin-top: -10px;
	font-size: 50px;
}

.popup__close{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	display: block;
	position: absolute;
	z-index: 10;
	text-align: right;
	cursor: pointer;
	color: #b43d54;
}

#modal_trigger{
  display: none;
}

.erro {
  background: #e92f29;
  border-radius: 4px 4px 0 0; 
  font-size: 18px; 
  color:white; 
  text-align: center;
  padding: 6px;
}

/**  /POPUP***/




/**		POPUP	***/
.trigger{
	font-size: 2em;
	text-transform: uppercase;
	margin-top: 10%;
	display: block;
}

.popup__textbox{
	color: #999999;
	line-height: 25px;
	font-size: 16px;
	padding: 10px 3px 0 3px;
	overflow: auto;
}

@keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes inner {
    0% {transform: scale(0.8);}
    50% {transform: scale(1.06);}
	100% {transform: scale(1);}
}

@-webkit-keyframes bg {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes inner {
    0% {transform: scale(0.8);}
    50% {transform: scale(1.06);}
	100% {transform: scale(1);}
}

.popup__check{
	display: none;
}

.popup__base, .popup__bg{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	cursor:zoom-out;
}

.popup__base{
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.popup__check:checked + .popup__base{
	display: block;
	animation-name: bg;
    animation-duration: .5s;
	animation-fill-mode:forwards;
	-webkit-animation-name: bg;
    -webkit-animation-duration: .5s;
	-webkit-animation-fill-mode:forwards;
	z-index:9999;
}

.popup__inner{
	/*position: absolute;*/
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 10px;	
	z-index: 10;
	width: 100%;
	max-width: 300px;
	margin: auto;
	margin-top: 190px;
	padding: 10px;
	background-color: #fff;
	display: block;
	cursor:default;
}

.popup__check:checked + .popup__base .popup__inner{
	animation-name: inner;
    animation-duration: .5s;
	animation-fill-mode:forwards;
	-webkit-animation-name: inner;
    -webkit-animation-duration: .5s;
	-webkit-animation-fill-mode:forwards;
}

.popup__calign{
	float: right;
	padding-right: 32px;
	margin-top: -10px;
	font-size: 50px;
}

.popup__close{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	display: block;
	position: absolute;
	z-index: 10;
	text-align: right;
	cursor: pointer;
	color: #b43d54;
}

#modal_trigger{
  display: none;
}

/**  /POPUP***/

.porcentagem-progress{
	padding-top: 1%;
	color: #FFF;
}