# Mac
.DS_Store

# iOS
CoinCoin/platforms/ios/build/
CoinCoin/platforms/ios/www/
CoinCoin/platforms/ios/cordova/console.log
CoinCoin/*.xcuserdatad

# android
CoinCoin/platforms/android/assets/www
CoinCoin/platforms/android/bin
CoinCoin/platforms/android/gen
CoinCoin/platforms/android/local.properties
CoinCoin/platforms/android/ant-build
CoinCoin/platforms/android/ant-gen
CoinCoin/platforms/android/CordovaLib/ant-build
CoinCoin/platforms/android/CordovaLib/ant-gen
CoinCoin/platforms/android/CordovaLib/bin
CoinCoin/platforms/android/CordovaLib/gen
CoinCoin/platforms/android/CordovaLib/local.properties

# wp8
CoinCoin/platforms/wp8/bin
CoinCoin/platforms/wp8/obj
CoinCoin/platforms/wp8/www
CoinCoin/platforms/wp8/.staging
CoinCoin/platforms/wp8/*.suo
CoinCoin/platforms/wp8/*.csproj.user

# res
CoinCoin/resources/signing
